option_settings:

  - option_name: NODE_ENV
    value: production

  - option_name: UPLOAD_CACHE_DIRECTORY
    value: /tmp/rfcx-api/uploads

  - option_name: NEW_RELIC_KEY
    value: 

  - option_name: AWS_ACCESS_KEY_ID
    value: 

  - option_name: AWS_SECRET_KEY
    value: 

  - option_name: AWS_REGION_ID
    value: 

  - option_name: AWS_ACCOUNT_ID
    value: 

  - option_name: AWS_S3_BUCKET_AUDIO
    value: 

  - option_name: SEQUELIZE_VERBOSE
    value: false
    