packages:
  yum:
    make: []
    zlib-devel: []
    bzip2-devel: []
    openssl-devel: []
    ncurses-devel: []
    sqlite-devel: []
    readline-devel: [] 
    gdbm-devel: []
    db4-devel: []
    libpcap-devel: []
    xz-devel: []
    gcc-gfortran.noarch: []
    libpng-devel: []
    freetype-devel: []
    perl-Image-ExifTool.noarch: []

commands:

# Install ffmpeg

  01-1-GetFFmpeg:
    command:  "if [ ! -d /opt/ffmpeg ] ; then wget -O /tmp/ffmpeg.tar.xz http://rfcx-install.s3.amazonaws.com/rfcx-api/ffmpeg-2.7.2-release-64bit-static.tar.xz; mkdir -p /opt/ffmpeg; cd /tmp; tar -xvf ffmpeg.tar.xz -C /opt/ffmpeg; mv /opt/ffmpeg/ffmpeg-2.7.2-64bit-static/* /opt/ffmpeg/.; rm -f /tmp/ffmpeg.tar.xz; fi;"

  01-2-InstallFFmpeg:
    command:  "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi;"

  01-3-InstallFFprobe:
    command:  "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi;"

# Install sox

  02-1-GetSox:
    command:  "if [ ! -d /opt/sox ] ; then wget -O /tmp/sox.tar.gz http://rfcx-install.s3.amazonaws.com/rfcx-api/sox-14.4.2.tar.gz; mkdir -p /opt/sox; cd /tmp; tar -xvf sox.tar.gz -C /opt/sox; mv /opt/sox/sox-14.4.2 /usr/local/src/sox-14.4.2; rm -f /tmp/sox.tar.gz; fi;"

  02-2-BuildAndInstallSox:
    command:  "if [[ ! -f /usr/bin/sox ]] ; then cd /usr/local/src/sox-14.4.2; ./configure; make -s; make install; ldconfig; ln -s /usr/local/bin/sox /usr/bin/sox; fi;"
    
