packages:
  yum:
    perl-Image-ExifTool.noarch: []

commands:

# Install ffmpeg

#  01-00-RemoveFFmpeg:
#    command:  "if [ -d /opt/ffmpeg ] ; then rm -rf /opt/ffmpeg /usr/bin/ffmpeg /usr/bin/ffprobe; fi;"

  01-01-GetFFmpeg:
    command:  "if [ ! -d /opt/ffmpeg ] ; then wget -O /tmp/ffmpeg.tar.xz http://rfcx-install.s3.amazonaws.com/rfcx-worker-analysis/ffmpeg-2.7.2-release-64bit-static.tar.xz; mkdir -p /opt/ffmpeg; cd /tmp; tar -xvf ffmpeg.tar.xz -C /opt/ffmpeg; mv /opt/ffmpeg/ffmpeg-2.7.2-64bit-static/* /opt/ffmpeg/.; rm -f /tmp/ffmpeg.tar.xz; fi;"

  01-02-InstallFFmpeg:
    command:  "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi;"

  01-03-InstallFFprobe:
    command:  "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi;"