packages:
  yum:
    make: []
    zlib-devel: []
    bzip2-devel: []
    openssl-devel: []
    ncurses-devel: []
    sqlite-devel: []
    readline-devel: [] 
    gdbm-devel: []
    db4-devel: []
    libpcap-devel: []
    xz-devel: []
    gcc-gfortran.noarch: []
    libpng-devel: []
    freetype-devel: []
    perl-Image-ExifTool.noarch: []

commands:

  00-1-CreateRAMDisk:
    command:  "if [ ! -d /mnt/ramdisk ] ; then mkdir -p /mnt/ramdisk; mount -t tmpfs -o size=384m tmpfs /mnt/ramdisk; fi;"

  00-2-Create-RAMDisk-TmpDirectory:
    command:  "if [ -d /mnt/ramdisk/rfcx-api ] ; then rm -rf /mnt/ramdisk/rfcx-api; fi; mkdir -p /mnt/ramdisk/rfcx-api; chmod a+rw /mnt/ramdisk/rfcx-api;"

  00-3-Create-SymLink-Or-Real-TmpDirectory:
    command:  "if [ -d /tmp/rfcx-api ] ; then rm -rf /tmp/rfcx-api; fi; if [ -d /mnt/ramdisk/rfcx-api ] ; then ln -s /mnt/ramdisk/rfcx-api /tmp/rfcx-api; else mkdir -p /tmp/rfcx-api; chmod a+rw /tmp/rfcx-api; fi; "

# Install ffmpeg

  02-1-GetFFmpeg:
    command:  "if [ ! -d /opt/ffmpeg ] ; then wget -O /tmp/ffmpeg.tar.xz https://rfcx-analysis.s3.amazonaws.com/setup/install/ffmpeg-3.1.3-release-64bit-static.tar.xz; mkdir -p /opt/ffmpeg; cd /tmp; tar -xvf ffmpeg.tar.xz -C /opt/ffmpeg; mv /opt/ffmpeg/ffmpeg-3.1.3-64bit-static/* /opt/ffmpeg/.; rm -f /tmp/ffmpeg.tar.xz; fi;"

  02-2-InstallFFmpeg:
    command:  "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi;"

  02-3-InstallFFprobe:
    command:  "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi;"

# Install sox

  03-1-GetSox:
    command:  "if [ ! -d /opt/sox ] ; then wget -O /tmp/sox.tar.gz http://rfcx-install.s3.amazonaws.com/rfcx-api/setup/sox-14.4.2.tar.gz; mkdir -p /opt/sox; cd /tmp; tar -xvf sox.tar.gz -C /opt/sox; mv /opt/sox/sox-14.4.2 /usr/local/src/sox-14.4.2; rm -f /tmp/sox.tar.gz; fi;"

  03-2-BuildAndInstallSox:
    command:  "if [[ ! -f /usr/bin/sox ]] ; then cd /usr/local/src/sox-14.4.2; ./configure; make -s; make install; ldconfig; ln -s /usr/local/bin/sox /usr/bin/sox; fi;"
    
