exports.env = {

  NODE_ENV: 'development',

  // PLATFORM: "amazon", // "amazon" or "google"

  CACHE_DIRECTORY: process.cwd() + '/.tmp/',

  FFMPEG_PATH: '/usr/bin/ffmpeg',
  SOX_PATH: '/usr/bin/sox',
  IMAGEMAGICK_PATH: '/usr/bin/convert',
  PNGCRUSH_PATH: '/usr/bin/pngcrush',

  // if PLATFORM is set to "amazon"
  AWS_ACCESS_KEY_ID: '',
  AWS_SECRET_KEY: '',
  AWS_REGION_ID: '',
  AWS_ACCOUNT_ID: '',

  // if PLATFORM is set to "google"
  // GOOGLE_APPLICATION_CREDENTIALS: "./config/service-account.json",

  // MESSAGE_QUEUE_ENABLED: 'true'
  // MESSAGE_QUEUE_PREFIX: '',
  // MESSAGE_QUEUE_ENDPOINT: 'http://127.0.0.1:9324',

  BUCKET_ANALYSIS: 'rfcx-analysis',

  ASSET_BUCKET_AUDIO: 'rfcx-guardian-ark-development',
  ASSET_BUCKET_META: 'rfcx-guardian-meta-development',
  ASSET_BUCKET_ZIP: 'rfcx-zip',
  ASSET_BUCKET_REPORT: 'rfcx-report-development',
  ASSET_BUCKET_AI: 'rfcx-ai-staging',
  ASSET_URLBASE: 'http://localhost:8080/v1/assets',

  POSTGRES_PORT: '5432',
  POSTGRES_HOSTNAME: '127.0.0.1',
  POSTGRES_SSL_ENABLED: 'false',
  POSTGRES_USER: 'postgres',
  POSTGRES_PASSWORD: 'test',
  CORE_DB_NAME: 'core',
  NONCORE_DB_NAME: 'noncore',


  MANDRILL_KEY: '',

  MAILCHIMP_KEY: '',
  MAILCHIMP_API_URL: '',
  MAILCHIMP_APP_WAITING_LIST: '',

  SEQUELIZE_VERBOSE: false,

  MEDIA_API_BASE_URL: 'https://media-api.rfcx.org/',

  NODE_LOG_LEVEL: 'info', // error, warn, info, debug

  AUTH0_DOMAIN: 'auth.rfcx.org',
  AUTH0_EXTENSION_URL: 'rfcx.eu.webtask.io/adf6e2f2b84784b57522e3b19dfc9201/api',
  AUTH0_CLIENT_ID: '',
  AUTH0_CLIENT_SECRET: '',
  AUTH0_AUTHZ_AUDIENCE: 'urn:auth0-authz-api',
  AUTH0_CLOUD_AUDIENCE: 'https://rfcx.org',
  AUTH0_DEFAULT_DB_CONNECTION: 'Username-Password-Authentication',

  MQTT_BROKER_HOST: 'mqtt.rfcx.org',

  /// Firebase features for sending notifications (not enabled by default)
  /// When `FIREBASE_ENABLED` is set to `true` then the other env vars are required.
  // FIREBASE_ENABLED: "true",
  // FIREBASE_PRIVATE_KEY_RANGER_APP: "",
  // FIREBASE_CLIENT_EMAIL_RANGER_APP: "",
  // FIREBASE_PRIVATE_KEY_PLAYER_APP: "",
  // FIREBASE_CLIENT_EMAIL_PLAYER_APP: "",

  STRIPE_SECRET_KEY: '',
  CLASSY_CLIENT_ID: '',
  CLASSY_CLIENT_SECRET: '',

  // TWILIO_ACCOUNT_SID: "", // required for sending and receiving requests to/from Twilio on the REST api
  // TWILIO_AUTH_TOKEN: "", // required for sending and receiving requests to/from Twilio on the REST api

  RECAPTCHA_V3_SECRET_KEY: '',

  GUARDIAN_BROKER_HOSTNAME: '', // environment mqtt hostname for checkins/pings
  GUARDIAN_API_SMS_ADDRESS: '', // environment SMS Twilio Phone Number for SMS-based interaction with the Guardians
  GUARDIAN_KEYSTORE_PASSPHRASE: '' // passphrase which is used to access the certificate keystore for mqtt broker secure connections

  /// Enabling ingest service features will push guardian audio to the ingest service
  // INGEST_SERVICE_ENABLED: 'false',
  // INGEST_SERVICE_BASE_URL: 'https://ingest.rfcx.org/',

  /// When `ARBIMON_ENABLED` is set to `true` then the other env vars are required.
  // ARBIMON_ENABLED: 'false'
  // ARBIMON_BASE_URL: 'https://arbimon.rfcx.org/',

  /// Logging and metrics
  // NEW_RELIC_LICENSE_KEY: '',
  // NEW_RELIC_NO_CONFIG_FILE: 'true',
  // NEW_RELIC_APP_NAME: 'Core API Dev',
  // NEW_RELIC_LOG_LEVEL: 'warn',

  // STREAM_TOKEN_SALT: "any_random_string",

  // TRASHES_STREAM_ID: 'trashes00000'

}
