exports.env = {

  NODE_ENV: "development",

  CACHE_DIRECTORY: process.cwd()+"/tmp/",

  FFMPEG_PATH: "/usr/bin/ffmpeg",
  SOX_PATH: "/usr/bin/sox",
  IMAGEMAGICK_PATH: "/usr/bin/convert",
  PNGCRUSH_PATH: "/usr/bin/pngcrush",

  AWS_ACCESS_KEY_ID: "",
  AWS_SECRET_KEY: "",
  AWS_REGION_ID: "",
  AWS_ACCOUNT_ID: "",

  AWS_QUEUE_CONCURRENCY: 10,
  BUCKET_ANALYSIS: "rfcx-analysis",

  ASSET_BUCKET_AUDIO: "rfcx-guardian-ark-development",
  ASSET_BUCKET_META: "rfcx-guardian-meta-development",
  ASSET_BUCKET_ZIP: "rfcx-zip",
  ASSET_BUCKET_REPORT: "rfcx-report-development",
  ASSET_BUCKET_ATTACHMENT: "rfcx-attachment-development",
  ASSET_BUCKET_AI: "rfcx-ai-dev",
  ASSET_URLBASE: "http://localhost:8080/v1/assets",

  PLAYER_PASSCODES: "0000,1111",

  DB_HOSTNAME: "127.0.0.1",
  DB_NAME: "rfcx_api",
  DB_USERNAME: "root",
  DB_PASSWORD: "test",
  DB_PORT: 3306,

  NEO4J_URL: "",
  NEO4J_USER: "",
  NEO4J_PASSWORD: "",

  POSTGRES_PORT: "5432",
  POSTGRES_HOSTNAME: "127.0.0.1",
  POSTGRES_SSL_ENABLED: "false",
  POSTGRES_DB: "postgres",
  POSTGRES_USER: "postgres",
  POSTGRES_PASSWORD: "test",

  SQS_PERCEPTION_BATCH: "rfcx-perception-batch",

  NEW_RELIC_KEY: "",
  MANDRILL_KEY: "",

  MAILCHIMP_KEY: "",
  MAILCHIMP_API_URL: "",
  MAILCHIMP_APP_WAITING_LIST: "",

  SEQUELIZE_VERBOSE: false,

  // it must have /#/ at the end
  CONSOLE_BASE_URL: 'http://localhost:3000/#/',
  DASHBOARD_BASE_URL: 'http://localhost:5555/#/',

  MEDIA_API_BASE_URL: 'https://media-api.rfcx.org/',

  NODE_LOG_LEVEL: "info", // error, warn, info, debug
  CLOUDWATCH_ENABLED: false, // cloudwatch should be disabled for developers by default
  CLOUDWATCH_LOGS_GROUP_NAME: "",

  AUTH0_DOMAIN: "",
  AUTH0_EXTENSION_URL: "",
  AUTH0_CLIENT_ID: "",
  AUTH0_CLIENT_SECRET: "",
  AUTH0_AUTHZ_AUDIENCE: "",
  AUTH0_DEFAULT_DB_CONNECTION: "",

  WEBSOCKET_URL: "",

  MQTT_BROKER_HOST: "mqtt.rfcx.org",

  KAFKA_HOST: "",

  REDIS_HOST: "",
  REDIS_PORT: "",

  FIREBASE_PRIVATE_KEY_RANGER_APP: "",
  FIREBASE_CLIENT_EMAIL_RANGER_APP: "",

  FIREBASE_PRIVATE_KEY_PLAYER_APP: "",
  FIREBASE_CLIENT_EMAIL_PLAYER_APP: "",

  STRIPE_SECRET_KEY: "",
  CLASSY_CLIENT_ID: "",
  CLASSY_CLIENT_SECRET: "",

  RECAPTCHA_V3_SECRET_KEY: "",

}
