exports.env = {

  NODE_ENV: "development",

  CACHE_DIRECTORY: process.cwd()+"/tmp/",

  FFMPEG_PATH: "/usr/bin/ffmpeg",
  SOX_PATH: "/usr/bin/sox",

  AWS_ACCESS_KEY_ID: "",
  AWS_SECRET_KEY: "",
  AWS_REGION_ID: "",
  AWS_ACCOUNT_ID: "",

  AWS_QUEUE_CONCURRENCY: 10,

  ASSET_BUCKET_AUDIO: "rfcx-guardian-ark-development",
  ASSET_BUCKET_META: "rfcx-guardian-meta-development",
  ASSET_URLBASE: "http://localhost:8080/v1/assets",

  PLAYER_PASSCODES: "0000,1111",

  DB_HOSTNAME: "localhost",
  DB_NAME: "rfcx_api",
  DB_USERNAME: "",
  DB_PASSWORD: "",
  DB_PORT: 3306,

  SQS_PERCEPTION_BATCH: "rfcx-perception-batch",

  NEW_RELIC_KEY: "",
  MANDRILL_KEY: "",

  SEQUELIZE_VERBOSE: false
}