name: 'CI On Push'
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
      - reviews
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:

  prepare:
    name: 'Prepare'
    uses: rfcx/cicd/.github/workflows/notify-prepare.yaml@master
    with:
      repo: rfcx-api
      workflow-id: ci-on-push.yaml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: 'Build, Lint, Test'
    uses: ./.github/workflows/reusable-build-lint-test.yaml
    with:
      branch-name: ${{ needs.prepare.outputs.branch-name }}

  notify:
    name: 'Notify'
    if: ${{ always() }}
    needs: [prepare, build]
    uses: rfcx/cicd/.github/workflows/notify-send.yaml@master
    with:
      repo: rfcx-api
      branch-name: ${{ needs.prepare.outputs.branch-name }}
      workflow-id: ci-on-push.yaml
      previous-run-id: ${{ needs.prepare.outputs.previous-run-id }}
      status: ${{ needs.build.result }}
      notification-title: 'CI: APIs'
      notification-footer: "Lint: ${{ needs.build.outputs.lint-outcome || 'n/a' }} | Unit Test: ${{ needs.build.outputs.test-outcome || 'n/a' }}"
    secrets:
      slack-webhook: ${{ secrets.SLACK_ALERT_COREDT_WEBHOOK }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
